[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
gunicorn = "*"
dj-database-url = "*"
mysqlclient = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.10"
